*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 10px;
}

.container {
  margin: 20px auto;
  width: 90%;
}

h1 {
  text-align:center;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 700;
  font-family: century gothic, sofia pro;
}


.preview h1 {
  font-family: serif, sans-serif;
  font-size: 1.7em;
  display:inline-block;
  padding-left: 100px;
  text-transform: capitalize;
}


.preview {
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  display:inline-block;
  height: 700px;
  width: 90%;
  padding: 45px 300px 0 0;
  margin: 3%;

}
.baku {
  background-image: url("/images/baku.jpg");
}

.london {
  background-image: url("/images/london.png");

}

.madrid {
  background-image: url("/images/madrid.jpg");

}

.rome {
  background-image: url("/images/rome.jpg");

}

/*resolution for tablets */
@media screen and (min-width: 575px){
   .preview {
    margin: 3%;
    width: 40%;
  }
}




/*resolution for laptops*/
@media screen and (min-width: 991px){
   .preview {
    margin: 2%;
    width: 20%;
  }
}
